main {
  margin-top: 30px;
}

.card {
  background: #fefdfd;
  border: 1px solid #212121;
  border-radius: 10px;
  padding: 1rem;
}

.card-title {
  font-family: "Charter", serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #090909;
}

.post-footer {
  border-top: 1px solid #000000;
  padding-top: 0.75rem;
  margin-top: 1rem;
}

.interaction-item:hover {
  transform: scale(1.1);
}

#createPostForm .btn {
  background-color: #292929;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
}

textarea {
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
  line-height: 2;
}

.nav-tabs {
  display: flex;
  margin-top: 2.5%;
  padding: 0;
  list-style: none;
  gap: 1rem;
}

.nav-link {
  color: #000000;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
}

.nav-link:hover {
  color: #292929;
}

.nav-link.active {
  color: #000;
  font-weight: bold;
}

button {
  border: none;
  background: none;
}

button:hover {
  transform: scale(1.05);
}
